<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Entrenadores</title>
</head>
<body>
<h1>Listado de Entrenadores</h1>
<a th:href="@{/entrenadores/nuevo}">Agregar Entrenador</a>
<br>
<a th:href="@{/}">Inicio</a>
<br>
<br>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Experiencia</th>
        <th>Edad</th>
        <th>Acciones</th>
    </tr>
    <tbody>
    <tr th:if="${#lists.isEmpty(entrenadores)}">
        <td colspan="5">No hay entrenadores registrados</td>
    </tr>
    <tr th:each="entrenador : ${entrenadores}">
        <td th:text="${entrenador.id}"></td>
        <td th:text="${entrenador.nombre}"></td>
        <td th:text="${entrenador.experiencia}"></td>
        <td th:text="${entrenador.edad}"></td>
        <td>
            <a th:href="@{/entrenadores/actualizar/{id}(id=${entrenador.id})}">Actualizar</a>
            <a th:href="@{/entrenadores/eliminar/{id}(id=${entrenador.id})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>